@charset "UTF-8";


.sidebar {
    display: flex;                /* Flexbox로 배치 */
    flex-direction: column;       /* 버튼들이 세로로 나열되도록 설정 */
    gap: 10px;                    /* 버튼들 간의 간격 */
}

.sidebar button {
    background-color: #222;
    border: none;
    color: white;
    text-align: center;           /* 텍스트를 버튼의 중앙에 정렬 */
    padding: 10px 0;              /* 상하로 여백을 설정 */
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s;
    width: 100%;                  /* 버튼의 너비를 사이드바 너비에 맞게 설정 */
    display: block;               /* 버튼을 block으로 설정하여 한 줄씩 차지 */
}

.sidebar button:hover {
    background-color: #BAAC80;
    opacity:0.5;
    color: black;
}

.sidebar button.active {
    background-color: #BAAC80;
    color: black;
    font-weight: bold;
}

